
:root{
  --primary-color: #4478e3;
  --secondary-color: #a2d9ff;
  --black: black;
  --white: white;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #e6f4ff;
}

.section{
  height: 20vh;
}

nav{
  background-color: white; 
  height: 10vh;
}

nav *{
  color:black;
  
}

#navFont *{
  color:black;
}

#openMenu{
  font-size: 40px;
  margin-right: 5px;
  cursor: pointer;
}



.animation-container{
  
  position: relative;
  
}
.top{
  background: url('imgs/coral2.jpg'); 
  background-size: cover;  
  background-attachment: fixed; 
  background-position: center;
  
}
.bottom{
  background-image: linear-gradient( var(--primary-color), black);
  z-index: -2;
}
.main-title{
  width: 100%;
  display: flex;
  justify-content: center;
}
.call-to-action{
  display: flex;
  justify-content: space-around;
  width: 75%;
  
  margin-left: auto;
  
}

.btn-primary{
  background-color:white;
  color: black;
  border: 1px solid black;
}

#title{
  text-align: center;
}

svg{
   padding: 0px;
  margin: 0px; 
}

a{
  text-decoration: none;
}

.row .col{
  padding-top:20px;
}
.col{
  padding-top:20px;
}

@media only screen and (max-width: 900px){
 .call-to-action{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
 }
 .top{
   background-size:cover;
 }

}

